<html>
  <head>
    <title>{{title}}</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>

  <body>
    <h1>{{name}}</h1>

    <p>{{description}}</p>
  </body>
</html>
